<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nikitaverma.zomato">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".view.common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.common.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.AppBarOverlay"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.common.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".utility.MyFragment"></activity>
        <activity
            android:name=".view.restaurant_view.RestaurantDetailsActivity"
            android:label="@string/title_activity_restaurant_details2"
            android:textColor="#ffffff"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>